@charset "UTF-8";

body {
  font-family: "Arial", "Meiryo", sans-serif;
  font-size: 20px;
  text-align: center;
}

.pink {
  color: rgb(255, 192, 203);
}

.blue {
  color: skyblue;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 1.2em;
  text-shadow: 1px 1px 2px gray;
  font-size: 40px;
  border-bottom: 3px rgb(115, 115, 114) solid;
}
#basic > p {
   font-weight: bold;
}