@charset "UTF-8";

*,
*::before,
*::after {
    box-sizing: border-box;
}

#top {
    background-color: #dcc9f4;
    width: 800px;
    margin: 20px auto;
    text-align: center;

}

.top-child {
    background-color: #ffd9df;
    position: relative;
    display: inline-block;
    width: 20%;
   
}

#middle {
    position: relative;
    background-color: #ffd9df;
    width: 800px;
    height: 800px;
    margin: 20px auto
}

#middle-child01 {
    position: absolute;
    top: 100px;
    left: 100px;
    background-color: #87ceeb;
    width: 200px;
    height: 200px;

}

#middle-child02 {
    position: absolute;
    top: 300px;
    left: 300px;
    background-color: #87ceeb;
    width: 200px;
    height: 200px;

}

#middle-child03 {
    position: absolute;
    top: 500px;
    left: 500px;
    background-color: #87ceeb;
    width: 200px;
    height: 200px;

}

#bottom {
    background-color: #87ceeb;
    width: 800px;
    height: 300px;
    margin: 20px auto;
    text-align: center;
    position: relative;

}

#bottom-child01 {
    background-color: #e5dcf0;
    width: 400px;
    height: 100px;

}

#bottom-child02 {
    background-color: #e5dcf0;
    width: 400px;
    height: 100px;
    position: absolute;
    left: 200px;

}

#bottom-child03 {
    background-color: #e5dcf0;
    width: 400px;
    height: 100px;
    position: absolute;
    left: 400px;
    bottom: 0;
}